docs
node_modules
package-lock.json
server.test.js
googledrive-api-key.json

# Editor directories and files
.vscode/*
.eslintrc.cjs
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
.env
